.gallery {
    list-style: none;
    padding: 0px;
}

.gallery-item:not(:last-child){
    margin-bottom: 100px;
}

.img{
    width: 640px;
    height: 480px;
    transform: scale(0.5) translateX(-105%);
    display: block;
    background-color: #f0f0f0;
    object-fit: cover;
    transition: all 1s linear 500ms;
    opacity: 0;
}

.move{
    transform: scale(1) translateX(65%);
    opacity: 1;
    
}